{{> navbar}}
<div class="container mt-3">
  <h1>{{label}}</h1>
  <p>{{model}}</p>
  <p>{{color}}</p>
  <div class="mt-3 d-flex gap-2">
    <a href="/guitars/{{id}}/update">
      <button class="btn btn-primary btn-sm">Editar</button>
    </a>
    <form action="/guitars/{{id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    </form>
  </div>
  {{> backhome}}
</div>